{
  "extends": "./index.js",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": false
    },
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": false
  },
  "rules": {
    "strict": [ "error", "global" ]
  }
}
